<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>captcha question</title>
    <style>
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      form {
        width: 300px; /* Adjust width as needed */
      }
    </style>
  </head>

  <body>
    <div class="container">
      <form>
        <h1>What is <%= captcha %></h1>
        <input type="hidden" name="result" value="<%= result %>">
        <label for="answer1">Answer 1:</label><br>
        <input type="number" id="answer1" name="answer1" required><br>
        <label for="answer2">Answer 2:</label><br>
        <input type="number" id="answer2" name="answer2" required><br>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
