<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>captcha question</title>
    <style>
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      form {
        width: 301px; /* Adjust width as needed */
      }
    </style>
  </head>

  <body style="background-color: white ;color: black" >
    <div class="container" >
      <form  action="/submit" method="post">
        <h1>What is <%= captcha %></h1>
        <input type="hidden" name="result" value="<%= result %>">
        <label for="answer">Answer:</label><br>
        <input type="number" id="answer" name="answer" required>
        <button type="submit">Submit</button>
      </form>
      <p>captcha</p>
    </div>
  </body>
</html>
